body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #212121;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1130px;
  padding: 0 5px;
  margin: 0 auto;
}

.header__inner {
  padding: 50px 0 40px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  margin-right: 35px;
}

.nav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #212121;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/cart.svg);
  padding-left: 60px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 0 center;
  cursor: pointer;
  margin-bottom: 10px;
}

.cart__count {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;
  padding: 1px 12px;
  background-color: #D7B399;
}

.cart__count::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  border: 8px solid transparent;
  border-right: 12px solid #D7B399;
}

@media (max-width: 992px) {
  .cart {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.burger-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #212121;
  border-radius: 3px;
  cursor: pointer;
}

.burger-btn::before, .burger-btn::after {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #212121;
  border-radius: 3px;
}

.burger-btn::before {
  top: -6px;
}

.burger-btn::after {
  bottom: -6px;
}

@media (max-width: 992px) {
  .burger-btn {
    display: block;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.banner {
  background-color: #F9F6F1;
}

.banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 120px 0 90px;
}

@media (max-width: 992px) {
  .banner__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0 45px;
  }
}

.banner__info {
  width: 50%;
}

@media (max-width: 992px) {
  .banner__info {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
}

.banner__description {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 20px;
}

.banner__title {
  font-size: 55px;
  line-height: 67px;
  font-weight: 700;
  margin: 0 0 45px 0;
}

.banner__img {
  position: relative;
}

.banner__img img {
  width: 100%;
  max-width: 556px;
}

.banner__price {
  position: absolute;
  right: 20px;
  text-align: right;
}

.banner__price-old {
  display: inline-block;
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner__price-old::before {
  position: absolute;
  content: '';
  height: 1px;
  top: 16px;
  left: 0;
  right: 0;
  background-color: #212121;
}

.banner__price-new {
  font-size: 42px;
  line-height: 51px;
  font-weight: 700;
  color: #D84033;
}

.btn {
  display: inline-block;
  padding: 18px 30px;
  background-color: #D7B399;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  background-color: #D84033;
}

.delivery {
  background-color: #212121;
}

.delivery__inner {
  text-align: center;
  padding: 60px 0;
  color: #fff;
}

.delivery__title {
  font-size: 30px;
  line-height: 37px;
  font-weight: 400;
  margin-bottom: 23px;
}

.delivery__title span {
  font-weight: 700;
}

.delivery__text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 300;
}

.collections {
  background-color: #F9F6F1;
}

.collections__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 10px 0;
}

@media (max-width: 992px) {
  .collections__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.collections__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 992px) {
  .collections__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.collections__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin-bottom: 25px;
}

.collections__title span {
  font-weight: 500;
}

.collections__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.collections__btn {
  padding: 5px 30px;
  margin-bottom: 60px;
}

.collections__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -3px;
}

.models__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 120px 0 150px;
}

@media (max-width: 992px) {
  .models__inner {
    padding: 60px 0 75px;
  }
}

.models__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 100px;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .models__title {
    margin-bottom: 50px;
  }
}

.models__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}

@media (max-width: 992px) {
  .models__cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.models__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  padding: 25px;
  background-image: url(../img/top-left.png), url(../img/top-right.png), url(../img/bottom-right.png), url(../img/bottom-left.png);
  background-repeat: no-repeat;
  background-position: top left, top right, bottom right, bottom left;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .models__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

.models__info {
  text-align: center;
}

.models__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #000;
  margin-bottom: 5px;
}

.models__price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #D7B399;
}

.models__btn {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
  padding-left: 35px;
  padding-right: 60px;
}

.models__btn::after {
  content: url(../img/arrow.svg);
  position: absolute;
  right: 30px;
  top: 17px;
}

.contacts {
  background-color: #212121;
  color: #fff;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0 65px;
}

@media (max-width: 992px) {
  .contacts__inner {
    padding: 35px 0 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__info {
  margin-left: 80px;
}

@media (max-width: 992px) {
  .contacts__info {
    margin-left: 40px;
  }
}

.contacts__title {
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0 15px;
}

.contacts__item {
  margin-bottom: 10px;
}

.contacts__link {
  font-size: 14px;
  line-height: 22px;
  color: #CBCFD4;
}

.social li {
  position: relative;
  padding-left: 25px;
}

.social li::before {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.vk::before {
  content: url(../img/vk.svg);
}

.facebook::before {
  content: url(../img/facebook.svg);
}

.instagram::before {
  content: url(../img/instagram.svg);
}

.footer {
  font-size: 14px;
  line-height: 22px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

@media (max-width: 992px) {
  .footer__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */