@import 'variables';


body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $dark;
}
ul {
    list-style: none;
    padding: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1130px;
    padding: 0 5px;
    margin: 0 auto;
}

// header
.header__inner {
    padding: 50px 0 40px;
    @include breakpoint (md) {
        padding: 25px 0 20px;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint (lg) {
        justify-content: space-around;
    }
    &__list {
        display: flex;
        @include breakpoint (lg) {
            display: none;
        }
    }
    &__item {
        margin-right: 35px;
    }
    &__link {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        color: $dark;
    }
    &__logo img {
        @include breakpoint (xs) {
            width: 75%;
            margin-left: 30px;
        }
    }
}
.cart {
    display: flex;
    align-items: center;
    background-image: url(../img/cart.svg);
    padding-left: 60px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: contain;
    cursor: pointer;
    margin-bottom: 10px;
    @include breakpoint (xs) {
        height: 20px;
        padding-left: 35px;
    }
    &__count {
        display: block;
        position: relative;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        color: #fff;
        padding: 1px 12px;
        background-color: $accent;
    }
    &__count::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 0;
        border: 8px solid transparent;
        border-right: 12px solid $accent;
    
    }
    @include breakpoint (lg) {
        order: 3;
    }
}
.burger-btn {
    display: none;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: $dark;
    border-radius: 3px;
    cursor: pointer;
    &::before, &::after {
        position: absolute;
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: $dark;
        border-radius: 3px;
        @include breakpoint (xs) {
            width: 28px;
        }
    }
    &::before {
        top: -6px;
    }
    &::after {
        bottom: -6px;
    }
    @include breakpoint (lg) {
        display: block;
        order: -1;
    }
}
// banner
.banner {
    background-color: $light;
    &__inner {
        display: flex;
        align-items: flex-start;
        padding: 120px 0 90px;
        @include breakpoint (lg) {
            flex-direction: column;
            align-items: center;
            padding: 60px 0 45px;
        }
        @include breakpoint (md) {
            padding: 25px 0 20px;
        }
    }
    &__info {
        width: 50%;
        @include breakpoint (lg) {
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }
        @include breakpoint (sm) {
            margin-bottom: 20px;
        }
    }
    &__description {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 20px;
        @include breakpoint (sm) {
            font-size: 20px;
        }
    }
    &__title {
        font-size: 55px;
        line-height: 1.2;
        font-weight: 700;
        margin: 0 0 45px 0;
        @include breakpoint (md) {
            font-size: 45px;
        }
        @include breakpoint (sm) {
            font-size: 45px;
            margin: 0 0 25px 0;
        }
        @include breakpoint (xs) {
            font-size: 25px;
        }
    }
    &__img {
        position: relative;
        & img {
            width: 100%;
            max-width: 556px;
            @include breakpoint (sm) {
                width: 80%;
            }
        }
    }
    &__price {
        position: absolute;
        right: 20px;
        text-align: right;
        &-old {
            display: inline-block;
            position: relative;
            font-size: 24px;
            line-height: 1.2;
            font-weight: 700;
            margin-bottom: 15px;
            &::before {
                position: absolute;
                content: '';
                height: 1px;
                top: 16px;
                left: 0;
                right: 0;
                background-color: $dark;
                @include breakpoint (sm) {
                    top: 10px;
                }
            }
            @include breakpoint (sm) {
                font-size: 18px;
            }
        }
        &-new {
            font-size: 42px;
            line-height: 1.2;
            font-weight: 700;
            color: $important;
            @include breakpoint (sm) {
                font-size: 32px;
            }
            @include breakpoint (xs) {
                font-size: 25px;
            }
        }
    }
}
.btn {
    display: inline-block;
    padding: 18px 30px;
    background-color: $accent;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: $important;
    }
    @include breakpoint (xs) {
        font-size: 12px;
    }
}
// delivery
.delivery {
    background-color: $dark;
    &__inner {
        text-align: center;
        padding: 60px 0;
        color: #fff;
        @include breakpoint (md) {
            padding: 30px 0;
        }
        @include breakpoint (sm) {
            padding: 15px 0;
        }
    }
    &__title {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 23px;
        & span {
            font-weight: 700;
        }
        @include breakpoint (sm) {
            font-size: 24px;
        }
        @include breakpoint (xs) {
            font-size: 16px;
            margin: 0 0 10px;
        }
    }
    &__text {
        font-size: 21px;
        line-height: 1.2;
        font-weight: 300; 
        @include breakpoint (sm) {
            font-size: 16px;
        }
    }
}
// collections
.collections {
    background-color: $light;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 30px 10px 0;
        @include breakpoint (lg) {
            flex-direction: column;
        }
        @include breakpoint (md) {
            padding: 0 10px;
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
        flex-basis: 50%;
        @include breakpoint (lg) {
            justify-content: center;
        }
        @include breakpoint (xs) {
            flex-direction: column;
            text-align: center;
        }
    }
    &__title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 300;
        margin-bottom: 25px;
        & span {
            font-weight: 500;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        margin-bottom: 30px;
    }
    &__btn {
        padding: 5px 30px;
        margin-bottom: 60px;
        @include breakpoint (xs) {
            margin-bottom: 20px;
        }
    }
    &__img {
        align-self: flex-end;
        margin-bottom: -3px;
        @include breakpoint (xs) {
            align-self: center;
            width: 80%;
        }
    }
}
// models
.models {
    &__inner {
        display: flex;
        flex-direction: column;
        padding: 120px 0 150px;
        @include breakpoint (lg) {
            padding: 60px 0 75px;
        }
        @include breakpoint (md) {
            padding: 30px 0;
        }
        @include breakpoint (sm) {
            padding-top: 0;
        }
    }
    &__title {
        align-self: center;
        font-size: 36px;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 100px;
        text-transform: uppercase;
        @include breakpoint (lg) {
            margin-bottom: 50px;
        }
        @include breakpoint (sm) {
            font-size: 26px;
            margin-bottom: 30px;
        }
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
        @include breakpoint (lg) {
            justify-content: space-around;
        }
        @include breakpoint (md) {
            flex-wrap: wrap;
            margin-bottom: 40px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 225px;
        flex: 0 0 24%;
        padding: 25px;
        background-image:   url(../img/top-left.png),
                            url(../img/top-right.png),
                            url(../img/bottom-right.png),
                            url(../img/bottom-left.png);
        background-repeat: no-repeat;
        background-position: top left, top right, bottom right, bottom left;
        margin-bottom: 10px;
        @include breakpoint (lg) {
            flex: 0 0 30%;
        }
    }
    &__info {
        text-align: center;
    }
    &__name {
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        color: #000;
        margin-bottom: 5px;
    }
    &__price {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: $accent;
    }
    &__btn {
        position: relative;
        align-self: center;
        display: inline-block;
        padding-left: 35px;
        padding-right: 60px;
        &::after {
            content: url(../img/arrow.svg);
            position: absolute;
            right: 30px;
            top: 17px;
        }
    }
}
// contacts
.contacts {
    background-color: $dark;
    color: #fff;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 75px 0 65px;
        @include breakpoint (lg) {
            padding: 35px 0 30px;
            justify-content: space-around;
        }
        @include breakpoint (md) {
            flex-direction: column;
            align-items: center;
        }
        @include breakpoint (sm) {
            padding: 15px 0;
        }
    }
    &__box {
        display: flex;
        @include breakpoint (sm) {
            flex-wrap: wrap;
        }
    }
    &__info {
        margin-left: 80px;
        @include breakpoint (lg) {
            margin-left: 40px;
        }
        @include breakpoint (sm) {
            flex: 0 0 40%;
        }
    }
    &__title {
        font-size: 10px;
        line-height: 12px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 10px 0 15px;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__link {
        font-size: 14px;
        line-height: 22px;
        color: $grey;
    }
    &__logo {
        @include breakpoint (sm) {
            align-self: flex-start;
            margin-left: 40px;
        }
    }
}
.social {
    & li {
    position: relative;
    padding-left: 25px;
        &::before {
            display: block;
            position: absolute;
            top: 3px;
            left: 0;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
    }
}
.vk::before {
    content: url(../img/vk.svg);
}
.facebook::before {
    content: url(../img/facebook.svg);
}
.instagram::before {
    content: url(../img/instagram.svg);
}

// footer
.footer {
    font-size: 14px;
    line-height: 1.2;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        @include breakpoint (lg) {
            padding: 30px;
        }
        @include breakpoint (xs) {
            flex-direction: column;
            padding: 15px 30px;
            font-size: 12px;
        }
    }
}